
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <%= form_for [@warehouse, @event] do |e| %>
      <% if @event.errors.any? %>
        <div class="error_messages">
          <h2>Invalid</h2>
          <ul>
            <% for message in @event.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= e.label :event_name %>
        <%= e.text_field :event_name, class: 'form-control' %>
      </div>
      <div class="field">
        <%= e.label :date %>
        <%= e.date_select :date, class: 'form-control' %>
      </div>
      <div class="field">
        <%= e.label :price %>
        <%= e.text_field :price, class: 'form-control' %>
      <div class="field">
        <%= e.label :image %>
        <%= e.file_field :image %>
      </div>
      <div>hello!
      <%= warehouse_events_path(@warehouse) %>
      </div>
    <%= e.submit 'Submit', class: "btn btn-success" %> &nbsp;
    <%= link_to 'events', warehouse_events_path(@warehouse), class: "btn btn-default" %>
    <% end %>
  </div>
</div>
