<h1>NEW USER SIGN UP</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone_number %>
    <%= f.phone_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :is_owner %>
    <%= f.check_box :is_owner %>
  </div>
  <%= image_tag(:image) %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "Sign Up", class: "btn btn-default" %> <%= link_to 'Home', root_path, class: "btn btn-default" %>
<% end %>


