
<%= form_for @warehouse do |f| %>
  <div class="field">
    <%= f.label :venue_name %>
    <%= f.text_field :venue_name %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :num_exits %>
    <%= f.number_field :num_exits %>
  </div>
  <div class="field">
    <%= f.label :max_occupants %>
    <%= f.number_field :max_occupants %>
  </div>
  <div class="field">
    <%= f.label :fire_alarm %>
    <%= f.check_box :fire_alarm %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
<br>
<%= f.submit %>
<%= link_to 'Back', :back, class: "btn btn-default" %>
<% end %>
