<h1>Post Your Warehouse!</h1>

<table class="container">
<%= form_for @warehouse do |f| %>
  <% if @warehouse.errors.any? %>
    <div class="error_messages">
      <h2>Invalid</h2>
      <ul>
        <% for message in @warehouse.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :venue_name %>
    <%= f.text_field :venue_name %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :num_exits %>
    <%= f.number_field :num_exits %>
  </div>
  <div class="field">
    <%= f.label :max_occupants %>
    <%= f.number_field :max_occupants %>
  </div>
  <div class="field">
    <%= f.label :fire_alarm %>
    <%= f.check_box :fire_alarm %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
<br>
<%= f.submit "Add", class: "btn btn-default"%>
<%= link_to 'Back', :back, class: "btn btn-default" %>
<% end %>
</table>
